/* Body */
body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* Navbar */
.navbar {
  background: linear-gradient(to right, #6366f1, #4f46e5);
  padding: 12px 0;
}

.navbar-brand {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.nav-link {
  font-size: 14px;
  margin-left: 15px;
  color: #e5e7eb !important;
}

.nav-link:hover {
  background-color: #ff28ac !important;
  border-radius: 5px;
}

.material-icons {
  vertical-align: middle;
}

/* Footer */
footer {
  background-color: #111827;
  font-size: 14px;
}
.card {
  border-radius: 15px;
  overflow: hidden;
}
.card img {
  height: 200px;
  object-fit: cover;
}
.carousel-caption {
  background: rgba(99, 102, 241, 0.8);
  border-radius: 10px;
  padding: 5px;
}

/* GALLERY TITLE */
.gallery-title {
  font-size: 32px;
  font-weight: 1000;
  background: linear-gradient(to right, #a78bfa, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FILTER */
.custom-filter {
  background-color: white;
  border: none;
  color: black;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 8px;
}

/* CARD STYLE */
.custom-card {
  background: #0f172a;
  border-radius: 18px;
  overflow: hidden;
  padding: 0;
}

/* IMAGE */
.custom-card img {
  height: 180px;
  object-fit: cover;
}

/* CARD BODY */
.custom-card .card-body {
  background: #0b1220;
  padding: 15px;
}

/* BADGES */
.badge.bg-primary {
  background: linear-gradient(to right, #8b5cf6, #6366f1) !important;
  border-radius: 20px;
  padding: 5px 10px;
}

.badge.bg-success,
.badge.bg-warning {
  background: linear-gradient(to right, #ec4899, #f43f5e) !important;
  border-radius: 20px;
  padding: 5px 10px;
  color: white !important;
}

/* PRICE */
.card-body p {
  font-size: 14px;
  opacity: 0.8;
}
/* Card Hover Effect */
.card {
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.gallery-img {
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card {
  border-radius: 15px;
}

.badge {
  margin-right: 5px;
  font-size: 12px;
}

.modal-content {
  border-radius: 15px;
}

.modal-header {
  border-bottom: none;
}

.modal-body img {
  max-height: 500px;
  object-fit: cover;
}

.upload-box {
  border: 2px dashed #6366f1;
  border-radius: 10px;
  background: rgba(99, 102, 241, 0.1);
}

.preview-img {
  max-width: 200px;
  border-radius: 10px;
  border: 2px solid #ccc;
}